body{
  background-image: url("src\assets\img\homebg.jpg");
  background-position: center;
}
h1 {
  margin-top: 3%;
  margin-left: 2rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 5rem;
}
h2 {
  margin-top: 3%;
  margin-left: 2rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p {
  margin-left: 2rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
}
h1,h2, p {
  color: rgb(27, 27, 27);
}
.start-btn{
  margin-top: 3%;
  margin-left: 2rem;

}
.welcome{
  font-size: 2rem;
}
button{
  background-color: rgb(196, 223, 233);
  color: black;
}
img {

  float: right;
  margin-right: 5rem;
  height: 20rem;
}
